* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(213, 233, 213);
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop {
    padding: 0px 20%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(72, 104, 72);
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;

}

.elem h2 {
    font-weight: 500;
    font-size: 22px;
}

.box {
    color: rgb(72, 104, 72);
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    background-color: #fff;
    border-radius: 2px;
}

#pbtm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(72, 104, 72);
    color: white;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(27, 55, 27);
}